# Python virtual environment
bin/
lib/
include/
pyvenv.cfg
.Python
*.pyc
__pycache__/

# Environment variables and secrets
.env
.env.*
env/

# IDE settings
.vscode/
.idea/

# Dependencies
lib64
share/
pip-selfcheck.json

# Misc
*.log
.DS_Store


